:root {
    --color-light: #50535a;
    --color-text: #eee;
    --color-dark: #282c34;
    --color-sc: #FF5500;
    --color-sc-dark-grey: #999;
    --opacity-fade: 0.6;
}

html {
    background-color: var(--color-dark);
    font-family: sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 620px;
    margin: 22px 22px 0 22px;
    min-width: 300px;
    min-height: 400px;
    color: var(--color-text);
    font-size: 14px;
    text-align: center;
    line-height: 130%;
}

.inner ul span {
}

a {
    color: var(--color-text);
    text-decoration: none;
    border-bottom: 1px solid var(--color-sc);
}
a:hover {
    color: var(--color-sc);
}

.header {
    padding: 16px;
    border-color: var(--color-sc);
    border-width: 2px;
    border-style: dashed;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
}

.line {
    margin-bottom: 6px;
}

.line:last-child {
    margin-bottom: 0;
}

header b {
    font-weight: 400;
}

.footer {
    padding: 24px;
}

.withBorderTop {
    border-top: 2px dashed var(--color-sc);
}

.withBorderBottom {
    border-bottom: 2px dashed var(--color-sc);
}

.inner {
    margin: 8px 0;
    padding: 16px 0;
    font-size: 16px;
    text-align: left;
    font-weight: 300;
    flex: 1 0;
}

.inner ul {
    margin: 0 16px 8px;
    list-style: cjk-heavenly-stem;
}

.inner ul li {
    margin-bottom: 6px;
}

.inner ul li.last {
    margin-bottom: 20px;
}

.inner__text {
    text-align: center;
    margin: 0 0 24px;
}

.actionBlock {
    margin: 32px 0 16px 0;
    text-align: center;
}

.actionBlock a {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    padding: 14px 26px;
    border-radius: 4px;
    background-color: var(--color-sc);
    border: 2px solid var(--color-sc);
    color: var(--color-text);
}

.actionBlock a:hover {
    border-color: white;
}

.actionBlock .subtitle {
    margin-top: 12px;
}

.media {
    text-align: center;
}

.media video {
    width: 100%;
    max-width: 480px;
    border-radius: 4px;
}

.media .animation {
    width: 100%;
    max-width: 528px;
    height: auto;
    border-radius: 4px;
}

.media__description {
    margin: 8px 0 24px;
    text-align: center;
}

.secondPage {
    padding: 16px;
    border-color: var(--color-sc);
    border-width: 2px;
    border-style: dashed;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
}

.bottomText {
    font-size: 16px;
    margin: 0 16px 32px;
}